.forget-page {
  min-height: 100vh;
  background-color: #0a8fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #333;
}

.form-box {
  background-color: #fff;
  padding: 2.5rem 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.form-title {
  color: #0a8fff;
  margin-bottom: 0.5rem;
}

.form-subtitle {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1.5rem;
}

.form-input {
  height: 45px;
  font-size: 1rem;
}

.copyright {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: white;
  text-align: center;
}

.forget-page {
  min-height: 100vh;
  background-color: #0a8fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #333;
}

.form-box {
  background-color: #fff;
  padding: 2.5rem 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.form-title {
  color: #0a8fff;
  margin-bottom: 0.5rem;
}

.form-subtitle {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 1.5rem;
}

.form-input {
  height: 45px;
  font-size: 1rem;
}

.copyright {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: white;
  text-align: center;
}
